#testBody .box1 {
    width: 200px;
    padding: 20px;
    margin: 10px auto;
    text-align: center;
    background: linear-gradient(#000, #000) top /40% 3px no-repeat, #ccc
}

#testBody .box2 {
    width: 200px;
    padding: 20px;
    margin: 10px auto;
    text-align: center;
    background: linear-gradient(red, red) bottom/ 60% 2px no-repeat, #ccc;
}

#testBody .box3 {
    width: 200px;
    padding: 20px;
    margin: 10px auto;
    text-align: center;
    background: linear-gradient(red, red)bottom left/ 10% 2px, linear-gradient(red, red)top right/ 10% 2px, linear-gradient(red, red)top left/ 10% 2px, linear-gradient(red, red)bottom right/ 10% 2px, linear-gradient(red, red)left/ 2px 100%, linear-gradient(red, red)right/ 2px 100%;
    background-repeat: no-repeat;
    transition: background-position 1s;
}

#testBody .box3:hover {
    background-position: top left/50px 2px;
    background-repeat: no-repeat;
}